@import url(./global.css);

.home-grid {
    max-width: 1585px;
    margin: 0 auto;  
    padding: 40px 20px;

    display: grid;
    grid-template-columns: 380px 220px 1fr;
    gap: 20px;
}

.grande-horizontal {
    background: rgba(30, 30, 49, 0.6);
    border-radius: 10px;

    grid-column: 2 / 4;
    height: 250px;

    padding: 15px 15px;
}

.grande-horizontal p {
    text-align: justify;
}

.izquierda-alta {
    font-family: "Merriweather Regular", sans-serif;
    background: rgba(30, 30, 49, 0.6);
    border-radius: 10px; 

    grid-column: 1;
    grid-row: 1 / 3;
    height: 440px;

    padding: 30px;
}

.foto-perfil {
    display: block;
    margin: 0 auto 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;

    border: 5px solid #00FFCC;
}

.perfil h3 {
    text-align: center;
}

.linea-divisora {
    border: none;
    height: 1px;          
    background-color: #00FFCC;
    width: 330px;  
    margin: 10px auto 20px; 
}

.personal-info {
    font-size: 0.85rem;
    letter-spacing: 1px;
}

.social-badges {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;      
}

.social-badges img {
    height: 25px; 
}

.derecha-mini {
    grid-column: 2;
    grid-row: 2;

    background: rgba(30, 30, 49, 0.6);
    border-radius: 10px;

    width: 100%;
    height: 200px;
}

.derecha-mini h3 {
    font-family: "Merriweather Regular", sans-serif;
    letter-spacing: 2px;
    text-align: center;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 8px;
    justify-items: center;
}

.skills-grid img {
    width: 35px;
    height: 35px;
}

.izquierda-mini {
    background: rgba(30, 30, 49, 0.6);
    border-radius: 10px;

    grid-column: 3;
    grid-row: 2;

    width: 100%;
    height: 200px;
}